.image {
  background-image: url('../Assests/hero8.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.imagehero2 {
  background-image: url('../Assests/hero9.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.custum {
  position: relative;
}

/* .image1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  z-index: 10 !important;
} 

 .image2 {
  position: absolute;
  top: 8%;
  left: 100;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 40%;
  z-index: 10 !important;
} */
