.swiper-button-prev2,
.swiper-button-next2 {
    top: unset !important;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    position: unset !important;
    border: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: black;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #0d7dfc;
    
}

.swiper-button-prev2:hover:after,
.swiper-button-next2:hover:after {
    color: white;
}   

.swiper-button-prev3{
    top: 50%;
    left: 1%;
    border: 4px solid #0d7dfc
}

.swiper-button-next3{
    top: 50%;
    right: 1%;
    border: 4px solid #0d7dfc
}