.card-container {
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.group:hover span {
    color: white;
}

.card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
    font-size: 22px;
    font-weight: 700;
    opacity: 1;
    /* background: -webkit-linear-gradient(#8d6dff, #547eff); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: black;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
    opacity: 0.8;
    background: #0d7dfc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: #e8e8e8;
    padding: 15px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
    font-size: 32px;
    font-weight: 700;
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .front-content {
    transform: translateY(-30%);
}

.card:hover .front-content p {
    opacity: 0;
}


.cards .card {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 400ms;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}


.flip-card {
    background-color: transparent;
    width: 270px;
    height: 220px;
    perspective: 1000px;
    font-family: sans-serif;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: start;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);
}

.flip-card-front {
    /* box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background: white
}

.banner{
    background-image: url('../../Assests/Banner.png');
    height: 650px;
    width: 100%;
    background-size: cover;
}

.stepsBack{
    background-image: url('../../Assests/stepsback2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cloud{
    background-image: url('../../Assests/cloud.png');
    background-size: cover;
}

